/* Add a font family and background color to the body. */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(161, 161, 161);
}

/* Style the name. */
#header {
    text-align: center;
    margin: auto;
    padding-top: 52px;
    font-size: 128px;
}

/* Style the menu bar. */
.menu {
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    position: fixed;
    width: 99%;
}

/* Style the menu items. */
.menu a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of menu items when they are hovered over. */
.menu a:hover {
    background-color: rgb(0, 229, 255);
    text-decoration: underline;
}

/* Add a color to recently visited items. */
.menu a:visited {
    color: rgb(125, 37, 206);
}
